<div class="navbarcl">
    <div class="navbar-left">
        <a href="">BANKING</a>
    </div>
    <div class="navbar-centercl">
        <ul>
            <li><a href=""> <img src="../../../assets/images/home.png" alt=""><span>Home</span> </a></li>
            <li><a href=""> <img src="../../../assets/images/home.png" alt=""><span>Home</span> </a></li>
            <li><a href=""> <img src="../../../assets/images/home.png" alt=""><span>Home</span> </a></li>
        </ul>
    </div>
    <div class="navbar-rightcl">
        <img src="../../../assets/images/user-3.png" class="nav-profile-img">
    </div>
</div>

<div class="main-container">
    <!-- ------------left sidebar -->
    <div class="left-sidebar">
        <div class="topbg"></div>
        <div class="sidebar-box">
            <img class="navleft-profile-img" src="../../../assets/images/user-3.png">
        </div>
        <div class="leftnavlist">
            <ul>
                <li><a href="javascript:void(0);" routerLink="/dashboard/transactions">Home</a></li>
                <li><a href="javascript:void(0);" routerLink="/dashboard/deposit">Deposit</a></li>
                <li><a href="javascript:void(0);" routerLink="/dashboard/withdraw">Withdraw</a></li>
                <li><a href="javascript:void(0);" routerLink="/dashboard/transfer">Transfer</a></li>
                <li><a href="javascript:void(0);" routerLink="/dashboard/transactions">Transactions</a></li>
            </ul>
        </div>
    </div>
    <!-- -----------main content -->
    <div class="main-content">
        <div class="centercontent">
            <div class="balance-card">
                <h3 class="text-right text-success font-weight-bold">KSH {{balance}}</h3>
            </div>
            <hr>
            <div class="wrapper">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
    <!-- -------------- right sidebar -->
    <div class="right-sidebar">
        <div class="sidebar-recent">
            <h3>How it works?</h3>
            <div>
                <a href="">How to deposit</a>
                <span>Hello there</span>
            </div>
            <div>
                <a href="">How to deposit</a>
                <span>Hello there</span>
            </div>
            <div>
                <a href="">How to deposit</a>
                <span>Hello there</span>
            </div>
            <div class="text-center">
                <button (click)="logout()" class="btn btn-block btn-outline-danger my-2">Logout</button>
            </div>
        </div>
    </div>
</div>